h1{color:blue;
text-align: center;}

    h2{ color:fuchsia }
  p  {
    border: 4px solid black;}
    body {
        background-color: lightblue;
      }   
img{
    border: double
}
h2{ text-decoration: underline;

}

